<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<div class="container">
  <a href="{% url 'logout' %}"><button class="btn btn-danger">Logout</button></a>
</div>

    <h3>Avaliação</h3>
    <hr>

  <form method="POST" action="{% url 'avaliation' %}">
    {% comment %} <div class="form-check">
        <input class="form-check-input" value="P" type="radio" name="flexRadioDefault">
        <label class="form-check-label">Péssimo</label>
    </div>
    <br>
    <div class="form-check" >
      <input class="form-check-input" type="radio" name="flexRadioDefault" >
      <label class="form-check-label">Ruim</label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault">
      <label class="form-check-label">Bom</label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault">
      <label class="form-check-label">Excelente</label>
    </div> {% endcomment %}

    <select class="form-select" name="status" aria-label="Default select example">
      <option selected>Selecione sua avaliação</option>
      <option value="P">Péssimo</option>
      <option value="R">Ruim</option>
      <option value="B">Bom</option>
      <option value="E">Excelente</option>
    </select>
    <br>
    <hr>
    <h3>Anotações</h3>
    <hr>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
        <label>Anotação positiva</label>
    </div>
    <br>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label>Anotação negativa</label>
    </div>
  </form>
    <br>
    <hr>
   <h3>Teve crise?</h3>
    <hr>
    <select class="form-select" name="status" aria-label="Default select example">
      <option selected>Selecione uma opção</option>
      <option value="N">Não</option>
      <option value="S">Sim</option>
    </select>
    <br>
    <label>Data Inicial</label>
    <input type="datetime-local" class="form-control"  placeholder="Data">
    <br>
    <label>Data Final</label>
    <input type="datetime-local" class="form-control"  placeholder="Data">
    <br>
    <button type="submit" class="btn btn-primary">Ajuda</button>
    <br>
    <hr>

